.child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 4rem;
}
